name: Gitflow Action for Python Package Development
run-name: ${{ github.event_name }} to ${{ github.ref_name }} by ${{ github.actor }}

on:
  push:
    branches: ['*', '!dev', '!main', '!github_page', '!Conda_Package']    
  pull_request:
    types: ['opened', 'closed']
    branches: ['main', 'release*', 'dev', 'master', 'test_utag_docker', 'test_utag_pull']
jobs:
  Activating_Parser:
    uses: fnlcr-dmap/gitflow-py/.github/workflows/parser.yml@main
    with:
      artifact_rid_production: "ri.artifacts.main.repository.92434867-d670-4bc2-9625-570d322ef0b2"
      artifact_rid_development: "ri.artifacts.main.repository.e537634a-0a9c-42f1-affb-1a152c2e331b"
      image_to_use: "ghcr.io/abombin/scsaworkflow:spac_py39_utag"
    secrets:
      NIDAP_TOKEN_PRODUCTION: ${{ secrets.NIDAP_TOKEN_PRODUCTION }}
      NIDAP_TOKEN_DEVELOPMENT: ${{ secrets.NIDAP_TOKEN_DEVELOPMENT }}